.backdrop-custom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  z-index: 999;
  cursor: pointer;
}

/* Layout.scss */

.wrapper {
  display: flex;
  height: 100vh; /* Full viewport height */
}

.sidebar {
  width: 240px; /* Sidebar width */
  height: 100vh;
  overflow-y: auto; /* Make sidebar scrollable if needed */
  position: fixed;
}

.content-page {
  margin-left: 240px; /* Offset by sidebar width */
  width: calc(100% - 240px); /* Remaining width */
  height: 100vh;
  overflow-y: auto; /* Only main content is scrollable */
}

.content {
  padding: 20px;
}
